
/*
* Estilos para el metabox de las etiquetas de servicios especiales en el admin
*/
.pdi-dir-etiquetas-contenedor>div{
	padding-bottom: 10px;
	border-bottom: 1px solid #eae4e4;
}

@media all and (max-width: 780px){
.pdi-dir-etiquetas-contenedor>div>div{
	margin: 10px 0;
}
}

/*
* Estilos para el metabox de los horarios de apertura
*/

#pdi-dir-horarios-admin table{
	max-width: 850px;
	border-collapse: collapse;
	margin: 0 auto;
}

#pdi-dir-horarios-admin table tr:nth-child(odd){
	background: #f3f3f3;
}

#pdi-dir-horarios-admin table tr td{
	border: 1px solid #f3f3f3;
	text-align: center;
}

#pdi-dir-horarios-admin table tr td:first-child{
	text-align: center;
}

#pdi-dir-horarios-admin table tr td input{
	width: 100%;
	border: none;
	box-shadow: none;
	background: transparent;
}

#pdi-dir-horarios-admin table tr td input::placeholder{
	font-style: italic;
}

/*
* Estilos para el metabox de los métodos de pago
*/

#pdi-dir-metodos-pago-container{
	max-width: 920px;
	margin: 0 auto;
}

#pdi-dir-metodos-pago-container>div{
	display: inline-block;
	width: 24%;
	text-align: center;
	border-radius: 3px;
}

.pdi-dirs-contenedor-metodo-pago input[type="checkbox"]{
	display: none;
}

.pdi-dirs-contenedor-metodo-pago input + label{
	display: inline-block;
	width: 100%;
	clear: both;
	max-width: 160px;
	padding: 20px;
	background: #efefef;
	font-weight: bold;
	color: #9e9e9e;
	border-radius: 3px;
}

.pdi-dirs-contenedor-metodo-pago input[type="checkbox"]:checked + label{
	color: #498e49;
	font-weight: bold;
	display: inline-block;
	width: 100%;
	background: #ecffd5;
	clear: both;
	max-width: 160px;
	padding: 20px;
}

.pdi-dirs-contenedor-metodo-pago input + label:before{
	font-family: FontAwesome;
	font-size: 60px;
	font-weight: 100;
	display: inline-block;
	width: 100%;
	clear: both;
	height: 75px;
	position: relative;
	top: 30px;
}

.pdi-dirs-contenedor-metodo-pago input + label[for="pdi_pago_amex"]:before{
	content: "\f1f3";
}
.pdi-dirs-contenedor-metodo-pago input + label[for="pdi_pago_visa"]:before{
	content: "\f1f0";
}
.pdi-dirs-contenedor-metodo-pago input + label[for="pdi_pago_mastercard"]:before{
	content: "\f1f1";
}
.pdi-dirs-contenedor-metodo-pago input + label[for="pdi_pago_paypal"]:before{
	content: "\f1f4";
}


/*
* Estilos para el formulario de Redes Sociales
*/
#pdi_dir_contenedor_redes_sociales>div>div{
	display: inline-block;
	vertical-align: top;
	margin-bottom: 15px;
}

#pdi_dir_contenedor_redes_sociales>div>div:first-child{
	width: 50px;
	text-align: center;
	height: 50px;
	font-size: 20px;
	padding: 15px;
	box-sizing: border-box;
	margin-right: 10px;
	color: #fff;
}

#pdi_dir_contenedor_redes_sociales>div>div:last-child{
	width: calc(100% - 70px);
}

#pdi_dir_contenedor_redes_sociales input{
	width: 100%;
}

#pdi-dir-facebook>div:first-child{
	background: #3B5998;
}
#pdi-dir-twitter>div:first-child{
	background: #55ACEE;
}
#pdi-dir-googleplus>div:first-child{
	background: #dd4b39;
}
#pdi-dir-youtube>div:first-child{
	background: #bb0000;
}
#pdi-dir-instagram>div:first-child{
	background: #125688;
}
#pdi-dir-pinterest>div:first-child{
	background: #cb2027;
}


/*
* Estilos Metabox caja de contacto
*/
#pdi_dir_contenedor_caja_contacto input{
	width: 100%;
}


/*
* Estilos Metabox mapa
*/
#pdi_dir_contenedor_latitud_longitud input{
	width: 100%;
}


/*
* Estilos cuadro debugging
*/

#pdi-dirs-cuadro-debugging{
	padding: 20px;
	border: 1px solid red;
	margin-top: 25px;
	position: relative;
}

#pdi-dirs-cuadro-debugging h3{
	position: absolute;
	top: -32px;
	background: #fff;
	padding: 5px 10px;
}

#pdi-dirs-cuadro-debugging h3:before{
	content: "\f188";
	font-family: "FontAwesome";
	margin-right: 5px;
}